<app-loading *ngIf="loading == true"></app-loading>
<div class="animated fadeIn mt-3" *ngIf="loading == false">
    <h2 class="text-center mt-2 mb-2" *ngIf="hideTitle == false">Users</h2>
    <app-users-form (exitForm)="closeForm()" (returnForm)="sendHttpClientRequest($event)" *ngIf="showForm == true" [titleType]='titleType' [disableFields]="disableFormFields" [formData]="dataToForm"></app-users-form>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert == true">
                {{ serverMessage }}
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table mt-2 row-border hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Location</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-block" (click)="openAddForm()">
                                Add User
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="arrUsers.length > 0">
                    <tr *ngFor="let user of arrUsers">
                        <td>{{ user.firstName }} {{ user.lastName}}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>
                            Country: {{ user.country }}<br> City: {{ user.city }}<br> Adress: {{ user.address }}
                        </td>
                        <td>
                            <div class="btn-group" dropdown>
                                <button dropdownToggle type="button" class="btn btn-pill btn-secondary dropdown-toggle">
                                  <i class="cil-options"></i>
                                </button>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="getEditData(user.id, 3)">Edit <i class="cis-comment-bubble-edit"></i></a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="getPreviewData(user.id, 2)">Preview <i class="cis-eye"></i></a>
                                    </li>
                                    <li role="menuitem">
                                        <a class="dropdown-item text-danger" (click)="deletItem(user.id)">Delete <i class="cis-trash-x"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>