<div class="row">
    <div class="col-12">
        <div [ngSwitch]="titleType">
            <h3 *ngSwitchCase="1">Add Item</h3>
            <h3 *ngSwitchCase="2">Preview Item</h3>
            <h3 *ngSwitchCase="3">Edit Item</h3>
        </div>
        <form [formGroup]='itemForm' (ngSubmit)="returnData()" class="needs-validation" novalidate>
            <div class="form-group" formGroupName="bill">
                <label for="bill_id">Bill id</label>
                <select formControlName="id" id="bill_id" class="form-control">
                    <option value="">-- Select a bill --</option>
                    <option *ngFor = "let bill of bills" [value]="bill.id" [selected] = "itemForm.get('bill').get('id').value === bill.id">{{ bill.id }}</option>

                </select>
                <div *ngIf="billInvalid" class="alert alert-danger mt-2" role="alert">
                    Please choose a bill
                </div>
            </div>
            <div class="form-group">
                <label for="date">Name</label>
                <input type="text" class="form-control" formControlName='name' placeholder="Name">
                <div *ngIf="nameInvalid" class="alert alert-danger mt-2" role="alert">
                    Name required
                </div>
            </div>
            <div class="form-group">
                <label for="date">Description</label>
                <input type="text" class="form-control" formControlName='description' placeholder="Description">
                <div *ngIf="descriptionInvalid" class="alert alert-danger mt-2" role="alert">
                    Description required
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="date">Amount</label>
                    <input type="number" class="form-control" formControlName='amount' placeholder="Amount">
                    <div *ngIf="amountInvalid" class="alert alert-danger mt-2" role="alert">
                        Amount required
                    </div>
                </div>
                <div class="col-6">
                    <label for="date">Price Per</label>
                    <input type="number" class="form-control" formControlName='pricePer' placeholder="Price Per">
                    <div *ngIf="pricePerInvalid" class="alert alert-danger mt-2" role="alert">
                        Price Per required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="date">Tax</label>
                    <input type="number" class="form-control" formControlName='tax' placeholder="Tax">
                    <div *ngIf="taxInvalid" class="alert alert-danger mt-2" role="alert">
                        Tax required
                    </div>
                </div>
                <div class="col-6">
                    <label for="date">Total Price</label>
                    <input type="text" class="form-control" formControlName='totalPrice' placeholder="Total Price">
                    <div *ngIf="totalPriceInvalid" class="alert alert-danger mt-2" role="alert">
                        Total price required
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-3" *ngIf="titleType == 1 || titleType == 3">
                <div class="col-lg-6 col-md-12">
                    <button [ngClass]="{ 'disable_button': !itemForm.valid }" [disabled]="!itemForm.valid" type="submit" class="btn btn-block btn-dark">
                        Submit
                    </button>
                </div>
                <div class="col-lg-6 col-md-12">
                    <button (click)="returnCancel()" type="button" class="btn btn-block btn-secondary">
                        Cancel
                    </button>
                </div>
            </div>
            <div class="row mt-3 mb-3" *ngIf="titleType == 2">
                <div class="col">
                    <button (click)="returnCancel()" type="button" class="btn btn-block btn-secondary">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>